* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--orange-container: #ee5335;
	--orange-menu: #ee5335;
	--orange-title: #ee5335;
	--orange-btn: #ee5335;
	--orange-small: #ee5335;
	--orange-name-team: #ee5335;
	--blue-container: #14171d;
	--font-family: 'Montserrat', sans-serif;
	--btn-dark: black;
	--network-container: #f5f7f8;
	--hero-text-color: white;
	--card-text-color: rgb(149, 148, 148);
}
/*NAVBAR */
.logo-navBar {
	height: 45px;
	width: auto;
}
.nav-link {
	color: black !important;
	font-size: 15px !important;
}

/*MEDIA QUERIES */
@media (min-width: 1000px) {
	.navbar {
		margin-left: 149px !important;
		padding: 14px !important;
	}
	.navbar-expand-lg .navbar-collapse {
		display: flex !important;
		justify-content: flex-end;
		padding: 0 80px;
		font-family: var(--font-family);
	}
	.nav-item {
		margin-right: 40px;
		font-size: 14px;
	}
	#btn-active {
		border: 1px solid var(--orange-menu);
		border-radius: 10px;
	}
	#navBar-link-active {
		color: var(--orange-menu) !important;
		font-weight: 500;
	}
}
/*HERO CONTAINER*/
.hero-container {
	background-color: var(--orange-container);
	display: flex;
	flex-direction: column;
	height: 80vh !important;
	justify-content: center;
	margin-bottom: 30px;
	padding: 30px !important;
	text-align: start;
	width: 100vw !important;
}
.hero-title {
	color: var(--hero-text-color);
	font-family: var(--font-family);
	font-weight: 900;
	text-transform: uppercase;
}
.hero-text {
	color: var(--hero-text-color);
	font-family: var(--font-family);
}
.btn-hero-footer {
	background-color: var(--btn-dark);
	border-radius: 5px;
	color: white;
	cursor: pointer;
	font-family: var(--font-family);
	font-size: 12px;
	margin-top: 15px;
	outline: none;
	padding: 8px;
	text-transform: uppercase;
}
@media (min-width: 768px) {
	.hero-container {
		padding-left: 100px !important;
	}
	.hero-text {
		font-size: 20px;
		margin-top: 56px;
	}
}
@media (min-width: 1000px) {
	.hero-container {
		padding-left: 142px !important;
		padding-top: 127px !important;
	}
	.hero-title {
		font-size: 70px !important;
	}
	.hero-text {
		font-size: 20px;
		margin-top: 36px !important;
	}
}
/* SECTION 360*/
.card-container {
	padding: 30px !important;
}
#full-stack-container {
	background-color: #f1f2f696;
	height: fit-content;
	margin-top: 15px;
	padding: 8px;
}
.section-info-title {
	margin-bottom: 27px !important;
}
.title-section-approach {
	font-family: var(--font-family);
	font-weight: 900;
	text-transform: uppercase;
}
.card-small-section {
	color: var(--orange-small);
}
.arrow-img {
	height: auto;
	margin-left: 6px;
	width: 20px;
}
.card-information {
	margin-bottom: 27px !important;
	padding: 20px;
}
.info-icon {
	height: auto;
	margin-bottom: 10px;
	width: 60px;
}
.card-title {
	font-family: var(--font-family);
	font-weight: 900;
}
.card-text {
	color: var(--card-text-color);
}
/*MEDIAQUERIES SECTION 360*/
@media (min-width: 768px) {
	.card-container {
		margin-top: 90px !important;
	}
	.section-info-title {
		padding-right: 20px;
	}
	.card-information {
		padding-top: 0;
	}
}

@media (min-width: 1000px) {
	.card-container {
		padding-left: 133px !important;
		padding-right: 133px !important;
		margin-top: 111px !important;
		margin-bottom: 200px !important;
	}
	.section-info-title {
		padding-right: 35px;
	}
	.card-information {
		padding-top: 0;
	}
}
/*CAROUSEL LOGHI*/
.container-title-carousel {
	background-color: var(--blue-container);
	margin-bottom: -2px;
	margin-top: 30px;
	padding: 30px;
	padding-top: 70px;
	text-align: center;
}
.carousel-title {
	color: white;
	font-family: var(--font-family);
	font-weight: 900;
}
#carousel-logos {
	background-color: var(--blue-container);
}
.carousel-item {
	text-align: -webkit-center;
}
.container-btn-carousel {
	background-color: var(--blue-container);
	display: flex;
	justify-content: center;
	margin-bottom: 60px;
	margin-top: -2px;
	padding: 50px;
	padding-bottom: 76px;
}
.btn-carousel {
	background-color: var(--orange-btn);
	color: white;
	cursor: pointer;
	font-family: var(--font-family);
	font-size: 12px;
	padding: 8px;
	text-transform: uppercase;
}

/*MEDIAQUERIES CAROUSEL LOGHI */
@media (min-width: 768px) {
	.container-title-carousel {
		padding-top: 120px;
	}
	.container-btn-carousel {
		padding-bottom: 120px;
	}
	.btn-carousel {
		padding: 12px !important;
		font-size: 17px !important;
	}
}
@media (min-width: 1000px) {
	.container-title-carousel {
		padding-top: 160px;
	}
	.container-btn-carousel {
		padding-bottom: 160px;
	}
	.btn-project {
		font-size: 19px !important;
		padding: 20px !important;
	}
}
/*CAROUSEL PROJECTS */
.container-carousel-projects {
	padding: 10px !important;
}
.container-section-projects-title {
	display: flex;
	justify-content: center;
}
.title-section-projects {
	color: var(--orange-title) !important;
	font-family: var(--font-family);
	font-weight: bold;
	margin-top: 30px;
	text-transform: uppercase;
}
.container-slider {
	height: 600px;
	padding: 5px 30px !important;
}

.container-info-slider {
	display: flex;
	flex-direction: column;
	margin-right: 20px;
	justify-content: flex-start;
	text-align: justify;
}
.container-title-carousel-proyects {
	display: flex;
}
.number {
	color: #ee5335;
	margin-right: 10px;
	font-size: 20px;
	font-weight: bold;
}
.title-slider {
	font-family: var(--font-family);
	font-weight: bold;
	font-size: 18px;
	text-align: left;
}

.card-text-carousel {
	font-family: var(--font-family);
	padding-left: 37px;
}
.card-small-slider {
	color: var(--orange-small);
	font-size: .875em;
	padding-left: 37px;
}
.container-opinion {
	border-left: 1px solid #ee5335;
	margin-left: 37px;
	margin-bottom: 25px;
	padding: 8px;
}
.logo-project {
	width: 96px;
	height: auto;
	margin: 20px 0 20px 0px;
}
.quote {
	font-family: var(--font-family);
	font-size: 12px;
}
.container-info-client {
	display: flex;
}

.container-img-client {
	border-radius: 50px;
	margin-right: 5px;
}
.img-client {
	border-radius: 50px;
	box-shadow: 1px 4px 0 rgb(0 0 0 / 11%), 0 -3px 0px 0 rgb(0 0 0 / 19%);
	height: auto;
	width: 40px;
}
.card-text-client {
	font-family: var(--font-family);
	font-size: 12px;
}
.container-img-project {
	display: none;
}
.carousel-control-next-icon {
	background-image: url(../assets/img/arrow-right.png);
}
.carousel-control-prev-icon {
	background-image: url(../assets/img/arrow-left.png);
}

.carousel-control-next,
.carousel-control-prev {
	align-items: center;
	background: 0 0;
	border: 0;
	bottom: 0;
	color: #fff;
	display: flex;
	margin: -9px;
	justify-content: center;
	opacity: 0.5;
	padding: 0;
	position: absolute;
	top: 0;
	transition: opacity .15s ease;
	text-align: center;
	z-index: 1;
	width: 15%;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
	width: 22px;
}

.carousel-indicators {
	margin-bottom: 105px !important;
}
#btnSlider-active {
	background-color: grey !important;
}
#btnFixed {
	background-color: #ee5335 !important;
	border-radius: 25%;
	height: 6px;
	margin-right: 10px;
	width: 30px;
}
#carousel-btn {
	align-items: center;
	display: flex;
}
.btnSlider {
	background-color: grey !important;
	border-radius: 100% !important;
	height: 10px !important;
	opacity: 0.5;
	width: 10px !important;
}

/*MEDIAQUERIES*/
@media (min-width: 768px) {
	.container-img-project {
		align-items: center;
		display: flex;
	}
	.img-carousel-projects {
		box-shadow: 10px 10px #ee5335 !important;
		height: auto;
		width: 323px;
	}
	.img-carousel-projects {
		box-shadow: 10px 10px #ee5335 !important;
	}

	.container-info-slider {
		padding: 25px;
	}
	.carousel-indicators {
		margin-bottom: 99px !important;
	}
	.logo-project {
		margin: 0px 0 5px 0px;
	}
	.carousel-control-next,
	.carousel-control-prev {
		margin: -40px;
	}
	.container-img-project {
		align-items: flex-start;
		display: flex;
		padding: 25px;
	}
}
@media (min-width: 1000px) {
	.container-section-projects-title {
		display: flex !important;
		font-variant: all-petite-caps !important;
		margin-bottom: 0px !important;
		margin-left: 134px !important;
		justify-content: flex-start;
		padding: 0 !important;
	}
	.title-slider {
		font-size: 34px;
	}
	.number {
		color: #ee5335;
		font-size: 58px;
		font-weight: bold;
		margin-left: -34px;
		margin-right: 13px;
	}
	.card-text-carousel {
		font-size: 18px;
		padding-left: 65px;
		padding-right: 20px;
	}
	.card-small-slider {
		padding-left: 65px;
	}
	.container-opinion {
		margin-left: 65px;
		padding-right: 48px;
		margin-top: 20px;
	}

	.quote {
		font-size: 16px;
	}

	.img-carousel-projects {
		box-shadow: 10px 10px #ee5335 !important;
		height: auto;
		width: 519px;
	}
	.container-img-project {
		align-items: flex-start;
		display: flex;
		padding: 25px;
	}
	.title-carousel-proyect {
		margin-bottom: 20px !important;
	}
}
/*TEAM */
.container-team {
	align-items: center;
	background-image: url("../assets/img/background-team.jpeg");
	background-position: top;
	display: flex;
	height: 700px;
	margin-top: 90px;
	padding: 20px;
	width: 100vw;
}
.container-row {
	background-color: var(--blue-container);
	display: flex;
}
.container-photo-team {
	align-items: center;
	background-color: var(--blue-container);
	border-radius: 10%;
	display: flex;
	flex-direction: column;
	height: 524px;
	justify-content: center;
	padding: 20px;
}
.container-employee {
	align-items: center;
	display: flex;
	flex-direction: column;
}
.img-employee {
	width: 56px;
	height: auto;
	border-radius: 50px;
}
.name {
	color: var(--orange-name-team);
	font-weight: bolder;
}
.team-position {
	color: white;
}

.team-position,
.name {
	font-family: var(--font-family);
	margin: 0 !important;
	text-align: center;
}

.employee-padding {
	padding-top: 60px;
}
.container-info-team {
	border-radius: 10%;
	display: none;
	flex-direction: column;
	height: fit-content;
	margin-left: 10px;
	padding: 20px;
}
.div {
	display: flex;
}
.small-team {
	color: white;
	font-family: var(--font-family);
	text-transform: uppercase;
}
.title-team,
.subtitle-team {
	color: white;
	font-family: var(--font-family);
	font-weight: bold;
}
#title-section-team {
	text-transform: uppercase;
}
.text-team {
	color: white;
	font-family: var(--font-family);
}
.tick {
	margin-right: 8px;
}
@media (min-width: 768px) {
	.container-info-team {
		display: flex;
	}
}
@media (min-width: 1000px) {
	.container-team {
		justify-content: center;
		height: 764px;
	}
	.container-photo-team {
		height: 608px;
		justify-content: space-evenly;
		width: 539px;
	}
	.img-employee {
		height: auto;
		width: 92px;
	}
	#title-section-team {
		font-size: 30px;
		margin: 20px 0;
	}
	.subtitle-team,
	.text-team {
		font-size: 18px;
	}
	.container-info-team {
		margin-left: 50px;
	}
}
/* IL NOSTRO NETWORKING */
#container-networking {
	background-color: var(--network-container) !important;
	padding: 30px !important;
	padding-bottom: 111px !important;
	width: 100vw;
}
.container-title-networking {
	margin-bottom: 80px;
	margin-top: 90px;
}
.title-networking {
	color: var(--orange-title);
	font-family: var(--font-family);
	font-weight: 900;
	text-transform: uppercase;
}
.row-networking {
	display: flex;
	justify-content: space-around;
}
.card-networking {
	border: none;
	border-radius: 10px;
	height: fit-content;
	margin-bottom: 15px;
	position: relative;
}
.bodyCard-networking {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.website-text {
	color: black;
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 14px;
	text-transform: uppercase;
}
.icon-networking {
	height: auto;
	width: 207px;
}
.card-img-bottom {
	height: auto;
}
@media (min-width: 1000px) {
	.site-text {
		font-size: 14px;
	}
	.row-networking {
		display: flex;
		justify-content: center;
	}
	.icon-networking {
		height: auto;
		width: 300px;
	}
	.card-networking {
		height: 600px !important;
		margin-left: 29px;
		width: 540px !important;
	}

	.bodyCard-networking {
		display: flex;
		flex-direction: column;
	}
	.card-img-bottom {
		margin-top: 89px;
	}
}

/*CONTACT*/
.container-contact {
	background-color: var(--orange-container) !important;
	padding: 30px;
}
.container-contact-info {
	text-align: center;
	margin-bottom: 24px;
	margin-top: 24px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.contact-small {
	color: white;
	font-size: 12px;
	font-weight: 500;
	margin-bottom: 36px;
	text-transform: uppercase;
}

.contact-text {
	color: white;
	font-family: var(--font-family);
}
.contact-title {
	color: white;
	font-family: var(--font-family);
	text-transform: uppercase;
}
.container-input {
	display: block;
	width: 100%;
	padding: .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.btn-black {
	margin-bottom: 35px;
	margin-top: 35px;
	background-color: var(--btn-dark);
	cursor: pointer;
	color: white;
	font-family: var(--font-family);
	text-transform: uppercase;
}
.label-input {
	font-family: var(--font-family);
	font-size: 9px;
	color: white;
}
@media (min-width: 768px) {
	.container-contact {
		padding: 90px !important;
	}
	.contact-text {
		font-size: 20px;
	}
	.contact-title {
		font-size: 23px;
		font-weight: bold;
	}
	.container-input {
		height: 40px !important;
		width: 100% !important;
		border-radius: 5px !important;
	}
}
@media (min-width: 1000px) {
	.container-contact {
		padding: 100px 300px !important;
	}
	.container-contact-info {
		align-items: center;
	}
	.contact-small {
		color: white;
		font-size: 12px;
		font-weight: 500;
		margin-bottom: 36px;
		text-transform: uppercase;
	}
	.contact-text {
		font-size: 20px;
	}
	.contact-title {
		font-size: 30px;
		font-weight: bold;
	}
	.btn-contact {
		padding: 16px !important;
	}
	.container-input {
		border-radius: 5px !important;
		height: 46px !important;
		width: 100% !important;
	}
}
/*FOOTER*/
.container-footer {
	background-color: var(--blue-container);
	padding: 30px;
}
.social-icon-footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.social-icon {
	margin-right: 12px;
}
.container-link-footer {
	display: flex;
	margin-top: 29px;
	justify-content: center;
}
ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.link-footer {
	color: white;
	font-family: var(--font-family);
	list-style: none;
	margin-right: 21px;
	margin-top: 10px;
}
.small-text-footer {
	color: white;
	font-family: var(--font-family);
	font-size: 12px;
}
.container-details {
	text-align: center;
}
